body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;

  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 550px;
  min-width: 230px;
}
.app-wrapper {
}

.app-interface {
  position: relative;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  border-top: 1px solid #e6e6e6;
}
